.jumbotron {
    
 
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./inside-banner-circuit-board.jpg);
    margin-bottom: 0px;
}

.jumbotron a{
    color: #0898C7;
    text-decoration: underline;

}

html {
    font-size: 100%; // In most browsers, this defaults to 16 pixels
  }

a:hover{
    color: rgb(122, 168, 255);
}
.jumbotron h1, p{
    color: white;
    text-shadow: 0 1px 0 black;
    font-size: 7rem;
}

body{
    background-color: #0898C7;
}


h1{
    font-size: 600%;
}

  
  .parallax {
    /* The image used */
    background-image: url("touch_translucient_icons.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header h4 {
    padding-top: 8px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
  }

.navbar{
    opacity: 0.8;

}


.jumbotron P{
    font-size: 200%;
}

.col-lg h1{
    font-size: 5rem;
    color: #ffffff;
    text-align: center;
}

.col-lg h3{
    font-size: 2.2rem;
}

h3{
    color: white;
    text-align: center;
    font-size: 175%;
}

p{
    text-align: center;
    font-size: 1.8rem;
}
.jumbotron{
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-sm-3{
    padding-top: 40px;
    border: #047195;
    border-style: solid; 
    transition: all 300ms;

}



.col-sm-3:hover{
    box-shadow: 10px 10px 7px #708090;
    background-color: #047195;
}

.col-lg{
    padding-top: 40px;
    transition: all 300ms;
}

.col-lg:hover{
    box-shadow: 10px 10px 7px #708090;
    background-color: #047195;
}
