.jumbotron {
    
 
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./inside-banner-circuit-board.jpg);
    margin-bottom: 0px;
}

.jumbotron a{
    color: #0898C7;
    text-decoration: underline;

}

html {
    font-size: 100%; // In most browsers, this defaults to 16 pixels
}

.col-lg a:hover{
    color: rgb(122, 168, 255);
}
.jumbotron h1, p{
    color: white;
    text-shadow: 0 1px 0 black;
    font-size: 8rem;
}

body{
    background-color: #0898C7;
}


h1{
    font-size: 600%;
}

  
  .parallax {
    /* The image used */
    background-image: url("touch_translucient_icons.jpg");
    
    /* create padding above */
    margin-top: 10px;
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .header h4 {
    padding-top: 8px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
  }

.navbar{
    opacity: 0.9
}


.jumbotron P{
    font-size: 200%;
}

.col-lg h1{
    font-size: 5rem;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.col-lg h3{
    font-size: 2.2rem;
    border-radius: 15px;
}

h3{
    color: white;
    text-align: center;
    font-size: 175%;
}

p{
    text-align: center;
    font-size: 1.8rem;
}
.jumbotron{
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-sm-3{
    padding-top: 40px;
    border: #047195;
    border-style: solid; 
    transition: all 300ms;

}

.col-sm-4{
    padding: 15px;
    background: #;
    transition: all 300ms;
    padding-top: 30px;

  

}


.separation{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 25%;
    background-color: #A4A71E;
    text-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(71, 123, 255, 0.5);

}
.padding_related{
    height: 100%;
    background: rgba(214, 206, 21, .6);
    border-radius: 10px;
  
    
}
.middle{
    color: yellow;
}



.col-sm-3:hover{
    box-shadow: 10px 10px 7px #708090;
    background-color: #047195;
}

.col-lg{
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 10px;
    transition: all 300ms;
}

.col-lg:hover{
    box-shadow: 10px 10px 7px #708090;
    background-color: #047195;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


.bgpaneling{
    background-image: url(./lightingfromspace.jpg);
    padding-top: 1.5rem;
    padding-bottom: 3rem;

}


.data{
    
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    )
}

.WFH{
    
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    )
}

.Hardware{
    
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./Hardware-Installations.jpg);
}

.Networking{
    
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./networking_switches.jpg);
}

.General{
    
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./General.png);
}




.badge{
    font-size: 2em;
    margin-bottom: 1em;
}

.row .col-sm-4[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
  
  .row .col-sm-4{
    overflow: hidden; 
  }
  